.textoPrincipal {
    font-size: 50px;
    /* color: #fff; */
}

main {
    height: 100vh;
    /* display: flex;
    justify-content: center; */
}

.divPrincipal {
    width: 500px;
    /* color: #fff; */
}

form {
    background-color: #7c7679;

    width: 500px;
    height: 300px;

    border-radius: 10px;
}

form input[type="text"] , form input[type="password"]{
    width: 80%;
    margin: 0 auto;
}

form input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: rgb(35, 35, 33);
    transition: .4s;
    border-radius: 20px;
    margin: 0 auto;
}
form input[type="submit"]:hover {
    background-color: rgb(83, 31, 146);
    color: #fff;
    cursor: pointer;
}